### Welcome to Software For Data Science

In [ ]:
print("Welcome to Software for Data Science in code....")
seconds_in_a_day = 24 * 60 * 60
seconds_in_a_day

Welcome to Software for Data Science in code....

86400

Where have you seen this before?
I think in the lectures

In [ ]:
seconds_in_a_week = 7 * seconds_in_a_day
seconds_in_a_week

604800

Can you update the above to calculate the number of seconds in a year?

In [3]:
seconds_in_a_day = 24 * 60 * 60
seconds_in_a_week = 7 * seconds_in_a_day
seconds_in_a_year = 52 * seconds_in_a_week
seconds_in_a_year

31449600

Lets create a simple function that returns the square of an input value

In [4]:
def square(foo):
  return foo*foo

We can call the above define function as follows:

In [5]:
square(2)

4

The function below defines a mathematical operation, which one?

$ \mu = \frac{1}{N}\sum_{i=0}^{N-1}x[n]$

Next week we will go onto using Python to interact with data to create our own data processing functions